<h2>One of your watched web pages has changed!<h2>

<h3>The page is located at {{ url }}</h3>

<h4>Here is the status:</h4>

<h5>"{{ old_content }}"</h5>

<p>Changed to</p>

<h5>"{{ new_content }}"</h5>

<p>We will continue to track changes on that page for you!</p>
