<h2>One of your watched web pages has changed, however we couldn't find 
the previous content that you requested to track! It is possible that the
structure of the webpage, so you must edit your tracker manually. Until 
you do any changes that happen in the webpage will trigger a notification
to you.<h2>

<h3>The page is located at {{ url }}</h3>

<p>We will continue to track changes on that page for you!</p>
